
/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
* Form validation
*/

.form-validation .ng-invalid {
  border-color: #f05050;
}

.form-validation .ng-valid:focus {
  border-color: #27c24c;
}

.form-validation .i-checks .ng-dirty + i {
  border-color: #f05050;
}



.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}

.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}


.inform-placeholder{
  position: absolute;
  width: 300px;
  right: 0px;
  z-index: 999;
}

.inform-message.alert{
	margin-bottom: 0;
}

/*
* List page
*/
.pagination{
	margin: 0 !important;
}

.list-search .form-group{
  padding-bottom: 5px;
  color: #8B8B8B;
  font-size: 12px;
}

.list-search .embedded-search-heading{
  border: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;

}
.list-search .embedded-search-heading span{
  background-color: #eee;
  color: #8B8B8B;
  text-shadow: none;
}
/*.list-search-table{
  overflow: auto;
}*/
.list-search tr { height:1em;  }
.list-search td { max-width:200px; overflow:hidden; white-space:nowrap;  }
/**
* json-edit overrides
*/
.jsonView{
  padding: 0 0 0 10px !important;
  margin-top: 3px;
}
.jsonView.jsonRead .deleteKeyBtn{
  display:none;
}
.jsonView.jsonRead .addObjectItemBtn{
  display:none;
}

/**
* Show loading directive
*/

.loading-spinner {
  width: 16px;
  height: 11px;
  display: inline-block;
  background-image: url(../assets/img/spinner-small.gif);
}




/**
* ng-tags
*/
body tags-input .tags .input{
  font:inherit;
}
body tags-input .tags {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: initial;
  -moz-transition: initial;
  transition: initial;
}

/**
* Main template overrides
*/

.panel-body-with-table {
	overflow-x: auto;
}

.settings{
  position: inherit !important;
}

/**
* Dashboard
*/

.padding{
  padding: 15px;
}


/**
* Navbar, bearcrumbs content body
*/
.content-body{
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.page-heading{
  padding: 20px;
  color: #58666e;
  background-color: #f6f8f8;
  border-bottom: 1px solid #dee5e7;
  position: relative;
}

.page-heading h1{
  margin: 0 !important;
  font-weight: 300;
}


.breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
  list-style: none;
}

/**
* List loading overlay
*/
.loading-container {
  position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50px;
  min-width: 50px;
}
.loading-container .loading:before {
  background-color: white;
  opacity: 0.5;
}

/**
* upload
*/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}
.drop.drag-over {
  background: #5CB85C;
  color: #fff
}

/*
* top submenu
*/
/*
.submenu-item {
  padding-left: 10px;
}
.main-div .md-content {
  margin-top: 50px;
}
.opened-dropdown {
  display: block;
}
.nav .open>a {
   background-color: transparent !important;
}

.sub-menu {
  z-index: 900 !important;
}
*/
