<div ng-init="app.settings.container = false;" class="md-navbar navbar {{app.settings.navbarCollapseColor}} md-whiteframe-z1 " data-ng-include=" 'shared/blocks/header.html' " >
</div>
<md-content layout="column">
  <!-- view -->
  <md-content layout="column">
    <div class="inform-placeholder" inform></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".md-aside" ></a>
    <md-content layout="column" ui-view></md-content>
  </md-content>
  <!-- / view -->
</md-content>
