

<div id="participant_form"
     ng-init="pageTitle = (isEditForm)?'pages.participant.view.edit.title':'pages.participant.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="participantForm" novalidate>
        <input name="version" type="hidden" ng-model="participant.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="birthdate"
               translate="pages.participant.defaultFieldName.birthdate" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
     <input name="birthdate"
            aria-label="birthdate"
            type="text"
            ng-model="participant.birthdate"
            bs-datepicker
      
      />
      
        </md-input-container>
	</div>
	


	

    <div class="input-container" layout layout-sm="column">
		<label for="email"
               translate="pages.participant.defaultFieldName.email" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="email"
                           aria-label="email"
                           type="text"
                           ng-model="participant.email"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="firstname"
               translate="pages.participant.defaultFieldName.firstname" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="firstname"
                           aria-label="firstname"
                           type="text"
                           ng-model="participant.firstname"
                 /> 
        </md-input-container>
	</div>
	


    <div class="input-container" layout layout-sm="column">
		<label for="lastname"
               translate="pages.participant.defaultFieldName.lastname" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="lastname"
                           aria-label="lastname"
                           type="text"
                           ng-model="participant.lastname"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="conference"
               translate="pages.participant.defaultFieldName.conference" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="conference"
                md-cache="false"
                md-selected-item="participant.conference"
                md-search-text="searchText_conference"
                md-items="item in autocompleteService.conferenceQuery(searchText_conference)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_conference" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="participant.conference"
               item-link="app.participant.view.edit.conferenceSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="participantSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="participantForm.$invalid"
                ng-click="submit(participantForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-href="#/app/participant/list" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
