
<div ng-if="!isModal" id="participant_list" ng-init="pageTitle = 'pages.participant.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="participant in $data">
                    <td class="text-left" >
                        <a ui-sref="app.participant.view({id:participant.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.participant.view.edit({id:participant.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteParticipant(participant)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(participant)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.participant.defaultFieldName.id' | translate">{{::participant.id}}</td>
			   		
        <td data-title="'pages.participant.defaultFieldName.birthdate' | translate">
{{::participant.birthdate | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.dateCreated' | translate">
{{::participant.dateCreated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.email' | translate">
{{::participant.email}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.firstname' | translate">
{{::participant.firstname}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.lastUpdated' | translate">
{{::participant.lastUpdated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.lastname' | translate" >
{{::participant.lastname}}</td>				 	
			   		
        <td data-title="'pages.participant.defaultFieldName.conference' | translate">
{{::participant.conference.name}} </td>

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>