


<div ng-if="!isModal" id="participant_view" ng-init="pageTitle = 'pages.participant.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

        <label translate="pages.participant.defaultFieldName.birthdate" flex="20"></label>
        <div class="read-field" ng-bind="participant.birthdate | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.participant.defaultFieldName.dateCreated" flex="20"></label>
        <div class="read-field" ng-bind="participant.dateCreated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.participant.defaultFieldName.email" flex="20"></label>
            <div class="read-field" ng-bind="participant.email" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.participant.defaultFieldName.firstname" flex="20"></label>
            <div class="read-field" ng-bind="participant.firstname" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.participant.defaultFieldName.lastUpdated" flex="20"></label>
        <div class="read-field" ng-bind="participant.lastUpdated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.participant.defaultFieldName.lastname" flex="20"></label>
            <div class="read-field" ng-bind="participant.lastname" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.participant.defaultFieldName.conference" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.participant.view.conferenceModal({modalId:participant.conference.id})" flex="30">
                <span ng-bind="participant.conference.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.participant.view.edit({id:participant.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteParticipant(participant)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-href="#/app/participant/list" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



