

<div id="conference_form"
     ng-init="pageTitle = (isEditForm)?'pages.conference.view.edit.title':'pages.conference.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="conferenceForm" novalidate>
        <input name="version" type="hidden" ng-model="conference.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="description"
               translate="pages.conference.defaultFieldName.description" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="description"
                           aria-label="description"
                           type="text"
                           ng-model="conference.description"
                 /> 
        </md-input-container>
	</div>

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.conference.defaultFieldName.name" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="conference.name"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="startTime"
               translate="pages.conference.defaultFieldName.startTime" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">

    <!--TODO: https://www.npmjs.com/package/angularjs-datetime-picker-->
     <input name="startTime"
            aria-label="startTime"
            type="text"
            ng-model="conference.startTime"
            datetime-picker
            date-format="yyyy-MM-dd HH:mm"
       required
      />
      
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="conferenceRoom"
               translate="pages.conference.defaultFieldName.conferenceRoom" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="conferenceRoom"
                md-cache="false"
                md-selected-item="conference.conferenceRoom"
                md-search-text="searchText_conferenceRoom"
                md-items="item in autocompleteService.conferenceRoomQuery(searchText_conferenceRoom)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_conferenceRoom" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="conference.conferenceRoom"
               item-link="app.conference.view.edit.conferenceRoomSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="conferenceSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="conferenceForm.$invalid"
                ng-click="submit(conferenceForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat"  ng-href="#/app/conference/list" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
