<div ng-if="!isModal" id="conference_list" ng-init="pageTitle = 'pages.conference.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>
    <md-content>
        <md-content layout-padding layout="column" class="list-search">
            <div class="list-search-table" loading-container="tableParams.settings().$loading">
                <table class="table table-responsive" ng-table="tableParams" show-filter="true">
                    <tbody>
                    <tr ng-repeat="conference in $data">
                        <td class="text-left">
                            <a ui-sref="app.conference.view({id:conference.id})" ng-if="!isModal">
                                <md-icon md-font-set="material-icons"
                                         ng-class="{'md-primary':hovering}"
                                         ng-mouseenter="hovering = true"
                                         ng-mouseleave="hovering = false">remove_red_eye
                                </md-icon>
                            </a>
                            <a ui-sref="app.conference.view.edit({id:conference.id})" ng-if="!isModal">
                                <md-icon md-font-set="material-icons"
                                         ng-class="{'md-accent':hovering}"
                                         ng-mouseenter="hovering = true"
                                         ng-mouseleave="hovering = false">edit
                                </md-icon>
                            </a>
                            <a ng-click="deleteConference(conference)" mx-show-loading ng-if="!isModal">
                                <md-icon md-font-set="material-icons"
                                         ng-class="{'md-warn':hovering}"
                                         ng-mouseenter="hovering = true"
                                         ng-mouseleave="hovering = false">delete
                                </md-icon>
                            </a>
                            <a ng-click="selectItemToField(conference)" ng-if="isModal">
                                <md-icon md-font-set="material-icons"
                                         ng-class="{'md-primary':hovering}"
                                         ng-mouseenter="hovering = true"
                                         ng-mouseleave="hovering = false">add_circle
                                </md-icon>
                            </a>
                        </td>
                        <td data-title="'pages.conference.defaultFieldName.id' | translate">{{::conference.id}}</td>
                        <td data-title="'pages.conference.defaultFieldName.name' | translate">
                            {{::conference.name}}
                        </td>
                        <td data-title="'pages.conference.defaultFieldName.description' | translate">
                            {{::conference.description}}
                        </td>
                        <td data-title="'pages.conference.defaultFieldName.startTime' | translate">
                            {{::conference.startTime | date:'yyyy-MM-dd HH:mm'}}
                        </td>

                        <td data-title="'pages.conference.defaultFieldName.conferenceRoom' | translate">
                            {{::conference.conferenceRoom.name}}
                        </td>
                        <td data-title="'pages.conference.defaultFieldName.dateCreatead' | translate">
                            {{::conference.dateCreated | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                        <td data-title="'pages.conference.defaultFieldName.lastUpdated' | translate">
                            {{::conference.lastUpdated | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </md-content>