<div ng-if="!isModal" id="conference_view" ng-init="pageTitle = 'pages.conference.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

        <label translate="pages.conference.defaultFieldName.dateCreatead" flex="20"></label>
        <div class="read-field" ng-bind="conference.dateCreated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.conference.defaultFieldName.description" flex="20"></label>
            <div class="read-field" ng-bind="conference.description" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.conference.defaultFieldName.lastUpdated" flex="20"></label>
        <div class="read-field" ng-bind="conference.lastUpdated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.conference.defaultFieldName.name" flex="20"></label>
            <div class="read-field" ng-bind="conference.name" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.conference.defaultFieldName.startTime" flex="20"></label>
        <div class="read-field" ng-bind="conference.startTime | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.conference.defaultFieldName.conferenceRoom" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.conference.view.conferenceRoomModal({modalId:conference.conferenceRoom.id})" flex="30">
                <span ng-bind="conference.conferenceRoom.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.conference.view.edit({id:conference.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteConference(conference)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat"  ng-href="#/app/conference/list" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.conference.view.participant({relationName:'conferences'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.participant.view.lists"
                        translate-value-isval="{{::'pages.participant.defaultFieldName.conference' | translate }}"
                        translate-value-inval="{{::'pages.participant.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

