<div id="conferenceRoom_form"
     ng-init="pageTitle = (isEditForm)?'pages.conferenceRoom.view.edit.title':'pages.conferenceRoom.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="conferenceRoomForm" novalidate>
        <input name="version" type="hidden" ng-model="conferenceRoom.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="capacity"
               translate="pages.conferenceRoom.defaultFieldName.capacity" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <input
                           name="capacity"
                           aria-label="capacity"
                           ng-model="conferenceRoom.capacity"  type="number"  required />
        </md-input-container>
	</div>
	



    <div class="input-container" layout layout-sm="column">
		<label for="description"
               translate="pages.conferenceRoom.defaultFieldName.description" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="description"
                           aria-label="description"
                           type="text"
                           ng-model="conferenceRoom.description"
                 /> 
        </md-input-container>
	</div>


    <div class="input-container" layout layout-sm="column">
		<label for="location"
               translate="pages.conferenceRoom.defaultFieldName.location" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="location"
                           aria-label="location"
                           type="text"
                           ng-model="conferenceRoom.location"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.conferenceRoom.defaultFieldName.name" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="conferenceRoom.name"
                 /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="conferenceRoomSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="conferenceRoomForm.$invalid"
                ng-click="submit(conferenceRoomForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat"  ng-href="#/app/conferenceRoom/list" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
