<div ng-if="!isModal" id="conferenceRoom_list" ng-init="pageTitle = 'pages.conferenceRoom.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="conferenceRoom in $data">
                    <td class="text-left" >
                        <a ui-sref="app.conferenceRoom.view({id:conferenceRoom.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.conferenceRoom.view.edit({id:conferenceRoom.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteConferenceRoom(conferenceRoom)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(conferenceRoom)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.conferenceRoom.defaultFieldName.id' | translate">{{::conferenceRoom.id}}</td>
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.capacity' | translate" >
{{::conferenceRoom.capacity}}</td>				 	
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.dateCreated' | translate" >
{{::conferenceRoom.dateCreated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.description' | translate">
{{::conferenceRoom.description}}</td>				 	
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.lastUpdated' | translate">
{{::conferenceRoom.lastUpdated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.location' | translate">
{{::conferenceRoom.location}}</td>				 	
			   		
        <td data-title="'pages.conferenceRoom.defaultFieldName.name' | translate">
{{::conferenceRoom.name}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>