


<div ng-if="!isModal" id="conferenceRoom_view" ng-init="pageTitle = 'pages.conferenceRoom.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.conferenceRoom.defaultFieldName.capacity" flex="20"></label>
            <div class="read-field" ng-bind="conferenceRoom.capacity" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.conferenceRoom.defaultFieldName.dateCreated" flex="20"></label>
        <div class="read-field" ng-bind="conferenceRoom.dateCreated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.conferenceRoom.defaultFieldName.description" flex="20"></label>
            <div class="read-field" ng-bind="conferenceRoom.description" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.conferenceRoom.defaultFieldName.lastUpdated" flex="20"></label>
        <div class="read-field" ng-bind="conferenceRoom.lastUpdated | date:'yyyy-MM-dd HH:mm'" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.conferenceRoom.defaultFieldName.location" flex="20"></label>
            <div class="read-field" ng-bind="conferenceRoom.location" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.conferenceRoom.defaultFieldName.name" flex="20"></label>
            <div class="read-field" ng-bind="conferenceRoom.name" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.conferenceRoom.view.edit({id:conferenceRoom.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteConferenceRoom(conferenceRoom)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-href="#/app/conferenceRoom/list" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.conferenceRoom.view.conference({relationName:'conferenceRooms'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.conference.view.lists"
                        translate-value-isval="{{::'pages.conference.defaultFieldName.conferenceRoom' | translate }}"
                        translate-value-inval="{{::'pages.conference.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

