<div ng-init="pageTitle = 'pages.Dashboard.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="h4" translate="pages.Dashboard.sub-title-1"></span>
        </div>
        <div class="panel-body">
          <span translate="pages.Dashboard.conferences"></span>: <a href="#/app/conference/list"> {{statistics.data.conferences}} </a>
          <br/>
          <span translate="pages.Dashboard.conferencerooms"></span>: <a href="#/app/conferenceRoom/list"> {{statistics.data.rooms}}</a>
          <br/>
          <span translate="pages.Dashboard.participants"></span>:  <a href="#/app/participant/list"> {{statistics.data.participants}}</a>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-include=" 'shared/blocks/settings.html' " class="settings panel panel-default">
  </div>
</div>

