<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
	<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
		<i class="glyphicon glyphicon-cog"></i>
	</button>
	<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".md-aside" ui-scroll-to="app">
		<i class="glyphicon glyphicon-align-justify"></i>
	</button>
	<!-- brand -->
	<a href="#/" class="navbar-brand text-lt">
          <span class="hidden-folded m-l-xs" translate="app.name"></span>
	</a>
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">

	<!-- link and dropdown -->
	<ul class="nav navbar-nav hidden-sm">
		<li class="dropdown" dropdown>
			<a href class="dropdown-toggle" dropdown-toggle>
				<i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
				<span translate="header.navbar.new.NEW"></span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				
				<li><a ui-sref="app.conference.create" translate="menu.domain.conference"></a></li>
				
				<li><a ui-sref="app.conferenceRoom.create" translate="menu.domain.conferenceRoom"></a></li>
				
				<li><a ui-sref="app.participant.create" translate="menu.domain.participant"></a></li>
				
			</ul>
		</li>
		<!-- list -->

			<li ui-sref-active="active" >
				<a ui-sref="app.conference.list"  md-ink-ripple>
					<i class="glyphicon glyphicon-cloud icon text-info-dker"></i>
					<span class="font-bold" translate="menu.domain.conference"></span>
				</a>
			</li>
			
			<li ui-sref-active="active" >
				<a ui-sref="app.conferenceRoom.list"  md-ink-ripple>
					<i class="glyphicon glyphicon-envelope icon text-info-dker"></i>
					<span class="font-bold" translate="menu.domain.conferenceRoom"></span>
				</a>
			</li>
			
			<li ui-sref-active="active" >
				<a ui-sref="app.participant.list"  md-ink-ripple>
					<i class="glyphicon glyphicon-glass icon text-info-dker"></i>
					<span class="font-bold" translate="menu.domain.participant"></span>
				</a>
			</li>
			
			
		</ul>

</div>
<!-- / navbar collapse -->