<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t" translate="app.name"></a>

    <div class="m-b-lg">
        <div class="wrapper text-center">
            <h4><strong class="text-success">{{message}}</strong></h4>
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ui-sref="login"
                        translate="pages.session.logout.login-again"></button>
            </div>
            <div class="text-center m-t m-b"><a href="{{::casLogoutUrl}}"
                                                   translate="pages.session.logout.logout-cas"></a></div>
        </div>
    </div>
</div>
